@tailwind base;
@tailwind components;
@tailwind utilities;

footer p {
    margin-bottom: 8px; /* Atur jarak antar paragraf */
  }
  
  footer p br {
    margin-bottom: 4px; /* Atur jarak antar baris */
  }
  
  /* CSS untuk mengatur jarak antar baris */
br {
    line-height: 1.2; /* Mengurangi jarak antar baris */
  }
  