@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "DM Sans", serif;
}

footer p {
    margin-bottom: 8px; /* Atur jarak antar paragraf */
  }
  
  footer p br {
    margin-bottom: 4px; /* Atur jarak antar baris */
  }
 
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.shadow-edit {
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.027);
}


@media (min-width : 600px) {
  .section_footer_about {
    text-align: center;
  }
}
  