@tailwind base;
@tailwind components;
@tailwind utilities;

footer p {
    margin-bottom: 8px; /* Atur jarak antar paragraf */
  }
  
  footer p br {
    margin-bottom: 4px; /* Atur jarak antar baris */
  }
 
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
  